.full-width {
	max-width: 100% !important;
}

/*
  ========================================
  Navbar
  ========================================
*/

.navbar li {
  display: inline-block;
}
.navbar nav {
  text-align: right;
}

/*
  ========================================
  Hero
  ========================================
*/

.hero {
	background-color: #4d4d4d;
	background-size: cover;
	height: 600px;
	margin: 0 auto;
}
.text {
	color: black;
	font-size: 25px;
	margin: 40px auto;
	text-align: center;
}

/*
  ========================================
  About
  ========================================
*/

#about .large-12 img {
	position: relative;
	width:100%;
}
#about .large-12 h2 {
   position: absolute;
   top: 100px;
   left: 0;
   width: 100%;
}
