p, li {
    font-size: 1.3em;
    font-weight: 600;
}
h1 {
    color: #0066ff;
}
body {
    font-family: 'Prompt', sans-serif;
}
li {
    list-style-type: none;
}
.row {
    margin: 2% 0;
    /*background: lightblue;*/
}
.row .title {
    background: transparent;
}
.row .button {
    text-align: center;
}
#landing {
    margin: 0;
    top: 0;
}

/*
  ============================================
  NavBar
  ============================================
*/

.logo {
    position: absolute;
    z-index: 100;
    top: 3%;
    font-size: 2em;
    color: #fff;
}
.color-overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.298039);
    z-index: 99;
}
.menu {
    position: absolute;
    line-height: 1;
    margin: 0 auto 3em;
    z-index: 200;
}
.menu__list {
    float: right;
    top: 0;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu__item {
    display: block;
    margin: 1em 0;
}
.menu__link {
    font-size: 0.7em;
    font-weight: bold;
    display: block;
    padding: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.menu__link:hover, .menu__link:focus {
    outline: none;
}
.menu--sebastian .menu__link {
    position: relative;
    display: block;
    margin: 0 1em;
    text-align: center;
    color: #f2f2f2;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}
.menu--sebastian .menu__link:hover, .menu--sebastian .menu__link:focus {
    color: #79FAC4;
}
.menu--sebastian .menu__item--current .menu__link {
    color: #3c4a50;
}
.menu--sebastian .menu__link::before, .menu--sebastian .menu__link::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #0066ff;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}
.menu--sebastian .menu__link::before {
    top: 0;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}
.menu--sebastian .menu__link::after {
    bottom: 0;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}
.menu--sebastian .menu__item--current .menu__link::before, .menu--sebastian .menu__item--current .menu__link::after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

/*
  ============================================
  Landing
  ============================================
*/

#owl-demo .item img {
    display: block;
    width: 100%;
    height: 100vh;
}
#donate {
    position: absolute;
    top: 77%;
    left: 42%;
    padding: 2%;
    border-radius: 300px;
}

/*
  ========================================
  Hero
  ========================================
*/

.hero {
    display: none;
}

/*
  ========================================
  About
  ========================================
*/

#about {
    height: 100%;
    position: relative;
    height: 100vh;
}
#about p {
    font-size: 25px;
    text-align: center;
}

/*
  ========================================
  Carousel
  ========================================
*/

.carousel li div h1 {
    display: inline;
    background: black;
    z-index: 200;
    color: white;
    font-size: 25px;
}
.carousel li div {
    height: 100%;
    top: 0;
    left: 0px;
    position: absolute;
    color: transparent;
    text-align: center;
    margin: 30px auto;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    animation: titleAnimation 45s linear infinite 0s;
}
.carousel li span {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0px;
    position: absolute;
    color: transparent;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    animation: imageAnimation 45s linear infinite 0s;
}
.carousel li:nth-child(1) span {
    background-image: url(../images/boot-998966_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel li:nth-child(2) span {
    background-image: url(../images/children-63175_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation-delay: 15s;
}
.carousel li:nth-child(3) span {
    background-image: url(../images/imageedit_50_3202316775.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation-delay: 30s;
}
.carousel li:nth-child(2) div {
    animation-delay: 15s;
}
.carousel li:nth-child(3) div {
    animation-delay: 30s;
}
@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    12.5% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    25% {
        opacity: 1
    }
    37.5% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
@keyframes titleAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    12.5% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    25% {
        opacity: 1
    }
    37.5% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

/*
  ========================================
  Founders
  ========================================
*/

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 4.75em;
    background: #79FAC4;
    color: #3c4a50;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}
.hovereffect:hover img {
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
}
.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    float: left;
    margin: 0px;
    display: inline-block;
}
.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
}
.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}
.hovereffect:hover p.icon-links a:hover, .hovereffect:hover p.icon-links a:focus {
    color: #252d31;
}
.hovereffect h2, .hovereffect p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
}
.hovereffect p.icon-links a span:before {
    display: inline-block;
    padding: 8px 10px;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.hovereffect:hover .overlay, .hovereffect:hover h2, .hovereffect:hover p.icon-links a {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/*
  ========================================
  Donation
  ========================================
*/

form, form .row {
    background: brown;
    padding-top: 5%;
    margin: 2% 5%;
    max-width: 100%;
}
form p {
    color: #fff;
}

/*
  ========================================
  Footer
  ========================================
*/

footer {
    text-align: center;
}
footer div li {
    display: inline-block;
    margin-left: 3%;
}