h1 {
	color: #0066ff;
}
body {
	margin: 0;
}
/*
  ========================================
  Navbar
  ========================================
*/

a {
	padding-left: 15px;
	font-size: 25px;
}
.top-bar {
	background: black;
}
.top-bar h1 {
	color: white;
}
.top-bar li {
	background: black;
  display: inline-block;
}
.bottomnavbar li {
	display: inline-block;
	margin-top: 20px;
}
.bottomnavbar nav {
	text-align: center;
}

/*
  ========================================
  Hero
  ========================================
*/

.hero {
	background-image: url(../images/humanitarian-aid-939723_960_720.jpg);
	background-size: cover;
	height: 600px;
	margin: 0 auto;
}
.text {
	font-size: 25px;
	text-align: center;
}
.text span {
	background: black;
	color: white;
}
.text a {
	font-weight: 700;
}

/*
  ========================================
  About
  ========================================
*/

#about {
	background-image: url(../images/imageedit_50_3202316775.jpg);
	background-size: cover;
	height: 600px;
	position: relative;
	margin-bottom: 20px;
}
#about img {
	width:100%;
}
#about p {
	font-size: 25px;
	text-align: center;
  width: 100%;
}
#about h1 {
	text-align: center;
}
/*
  ========================================
  Our Patners
  ========================================
*/
.patners {
	position: relative;
	right: 40px;
}
